{% extends "site_base.html" %}

{% block head_title %}Title: text parsejat{% endblock %}

{% block body %}
<p> The text introduced is this one:</p>

    <form action="" method="post"> {% csrf_token %}
    	{{ formset.management_form }}
        <table>
        	<!-- TODO: Words listing styling -->
            {% for form in formset %}
        		{{ form.as_p }}
        		<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#{{ form.instance.word.name }}">Definition</button>
        		<div id="{{ form.instance.word.name }}" class="collapse">
        			<!-- TODO: Improve apparance of word definitions -->
        			{{ form.instance.word.description|linebreaks }}
                    <p></p>
        		</div>
        	{% endfor %}
        </table>

        <p><input type="submit" value="Submit"></p>
    </form>
{% endblock %}

