{% extends "site_base.html" %}

{% block head_title %}Title: text parsejat{% endblock %}

{% block body %}
<p> The text introduced is this one:</p>

    {% if formset.errors %}
        <p style="color: red;">
             Please correct the error {{ formset.errors|pluralize }} below.
        </p>
    {% endif %}
    <form action="" method="post"> {% csrf_token %}
    	{{ formset.management_form }}
        <table>
            {% for form in formset %}
        		{{ form.as_p }}
        		<button type="button" class="btn btn-inverse" data-toggle="collapse" data-target="#{{ form.instance.word.name }}">Definition</button>
        		<div id="{{ form.instance.word.name }}" class="collapse">
        			<p>{{ form.instance.word.description }}</p>
        		</div>
        	{% endfor %}
        </table>

        <p><input type="submit" value="Submit"></p>
    </form>
{% endblock %}

