{% extends "site_base.html" %}

{% block head_title %}Title: text parsejat{% endblock %}

{% block body %}
<p> The text introduced is this one:</p>

    <form action="" method="post"> {% csrf_token %}
    	{{ formset.management_form }}
                {% for form in formset %}
                     {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %} 
             
            		<strong>{{ form.status.label }}</strong>:
                    {{ form.status }}
        
            		<button type="button" class="btn btn-info btn-small" data-toggle="collapse" data-target="#{{ form.instance.word.name }}">Definition</button>
                    <div id="{{ form.instance.word.name }}" class="collapse">
            			<div class="well">{{ form.instance.word.description|linebreaks }}</div>
            		</div>
            	{% endfor %}
        <p><input type="submit" value="Submit"></p>
    </form>
{% endblock %}

